@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.ActorsBackgroundSection {
  max-width: 1180px;
  padding: 40px 20px;
  margin: auto;
}

.header {
  font-size: 31px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;

  @media (max-width: vars.$xl) {
    font-size: 24px;
    line-height: 34px;
  }

  @media (max-width: vars.$xs) {
    font-size: 18px;
    line-height: 29px;
  }
}

.paragraph {
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 25px;

  @media (max-width: vars.$xl) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: vars.$xs) {
    font-size: 16px;
    line-height: 26px;
  }
}

.expandedStickers {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
