.Actors {
  height: 550px;
  width: 1150px;
  margin: 0 auto;
  background-image: url("../../assets/img/photos/p2.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  justify-content: end;
}

.actorsContent {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;

  h2 {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 31px;
    line-height: 48px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    text-align: center;
  }
}

.textSectionContent {
  width: 1150px;
  display: flex;
  margin: 0 auto;
  padding: 40px 0;
  gap: 95px;
}

.subSection {
  display: flex;
  align-items: center;
  gap: 40px;

  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    width: 265px;
  }
}

.gifContainer {
  width: 172px;
  height: 172px;
  min-width: 172px;
  min-height: 172px;

  img {
    height: 100%;
    width: 100%;
  }
}
