@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.IconLink {
  width: 36px;
  height: 36px;
  display: inline-flex;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  @media (max-width: vars.$xl) {
    width: 32px;
    height: 32px;
  }
}
