@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.CourseDetails {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: vars.$sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: vars.$xs) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.courseDetailsContent {
  max-width: 1140px;
  width: 100%;
}

.header {
  font-size: 41px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: vars.$xl) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (max-width: vars.$xs) {
    font-size: 26px;
    line-height: 36px;
  }
}

.description {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 40px 60px;
  margin-top: 40px;
  margin-bottom: 40px;

  p {
    font-size: 21px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;

    @media (max-width: vars.$xl) {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: vars.$xs) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
