@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.Points {
  width: 100%;
}

.header {
  font-size: 31px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;

  @media (max-width: vars.$xl) {
    font-size: 24px;
    line-height: 34px;
  }

  @media (max-width: vars.$md) {
    margin-bottom: 20px;
  }

  @media (max-width: vars.$xs) {
    font-size: 18px;
    line-height: 29px;
  }
}

.ul {
  margin-left: 20px;
}

.ul,
.description {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  margin-bottom: 45px;

  @media (max-width: vars.$xl) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: vars.$xs) {
    font-size: 16px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 25px;
  }

  li {
    list-style: disc;
  }
}
