.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 43px 0px;
}

.gogolPhoto {
  width: 564px;
  height: 564px;

  img {
    width: 100%;
    height: 100%;
  }
}

.quoteContainer {
  width: 610px;
  height: 385px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.quote {
  font-size: 28px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
}

.line {
  width: 89px;
  height: 5px;
  background-color: var(--primary-text-color);
}

.authorName {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;

  h1 {
    white-space: nowrap;
    font-size: 41px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;
  }

  div {
    font-size: 21px;
    line-height: 33px;
    font-weight: 400;
    max-width: 767px;
    text-align: center;
  }
}

.description {
  height: 734px;
  width: 1150px;
  background-image: url("../../assets/img/photos/p0.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 37px;

  h2 {
    white-space: nowrap;
    font-size: 41px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .descriptionContent {
    width: 438px;
    font-size: 21px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 33px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .descriptionButtons {
    display: flex;
    gap: 50px;
    padding-top: 20px;
  }
}

.textSectionContent {
  width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  padding: 35px 0;

  h2 {
    white-space: nowrap;
    font-size: 31px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    font-size: 21px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;
  }
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subSection {
  display: flex;
  align-items: center;
  gap: 15px;

  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    width: 155px;
    text-align: left;
  }
}

.gifContainer {
  width: 115px;
  height: 115px;
  min-width: 115px;
  min-height: 115px;

  img {
    height: 100%;
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  align-items: center;

  strong {
    text-align: center;
  }

  i {
    text-align: center;
  }
}
