.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 43px 0px;
}

.gogolPhoto {
  width: 564px;
  height: 564px;

  img {
    width: 100%;
    height: 100%;
  }
}

.quoteContainer {
  width: 610px;
  height: 385px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.quote {
  font-size: 28px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
}

.line {
  width: 89px;
  height: 5px;
  background-color: var(--primary-text-color);
}

.authorName {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.description {
  height: 734px;
  width: 1150px;
  background-image: url("../../assets/img/photos/p0.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 72px;
}

.descriptionTitle {
  white-space: nowrap;
  font-size: 41px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.descriptionContent {
  width: 416px;
  font-size: 21px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 33px;
  font-weight: 400;
}

.descriptionButtons {
  display: flex;
  gap: 50px;
  padding-top: 20px;
}

.textSectionContent {
  width: 1150px;
  display: flex;
  margin: 0 auto;
  padding: 40px 0;
  gap: 95px;
}

.subSection {
  display: flex;
  align-items: center;
  gap: 40px;

  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    width: 265px;
  }
}

.gifContainer {
  width: 172px;
  height: 172px;
  min-width: 172px;
  min-height: 172px;

  img {
    height: 100%;
    width: 100%;
  }
}
