@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 43px 0px;

  @media (max-width: vars.$lg) {
    flex-direction: column;
  }
}

.gogolPhoto {
  width: 564px;
  height: 564px;

  @media (max-width: vars.$xl) {
    width: 400px;
    height: 400px;
  }

  @media (max-width: vars.$sm) {
    width: 360px;
    height: 360px;
  }

  @media (max-width: vars.$xs) {
    width: 320px;
    height: 320px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.quoteContainer {
  width: 610px;
  height: 385px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (max-width: vars.$xl) {
    width: 445px;
    height: 250px;
    padding: 42px 30px;
  }

  @media (max-width: vars.$sm) {
    width: 417px;
    height: 200px;
    padding: 23px 15px;
  }

  @media (max-width: vars.$xs) {
    height: 176px;
    width: 90%;
  }
}

.quote {
  font-size: 28px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;

  @media (max-width: vars.$xl) {
    font-size: 22px;
    line-height: 33px;
  }

  @media (max-width: vars.$xs) {
    font-size: 18px;
    line-height: 29px;
  }
}

.line {
  width: 89px;
  height: 5px;
  background-color: var(--primary-text-color);
}

.authorName {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;

  @media (max-width: vars.$xl) {
    font-size: 21px;
    line-height: 31px;
  }

  @media (max-width: vars.$xs) {
    font-size: 17px;
    line-height: 28px;
  }
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;

  @media (max-width: vars.$xs) {
    height: 190px;
  }

  h1 {
    white-space: nowrap;
    font-size: 41px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: vars.$xl) {
      font-size: 34px;
      line-height: 50px;
    }

    @media (max-width: vars.$xs) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  div {
    font-size: 21px;
    line-height: 33px;
    font-weight: 400;
    max-width: 767px;
    text-align: center;

    @media (max-width: vars.$xl) {
      font-size: 18px;
      line-height: 29px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: vars.$xs) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.description {
  height: 734px;
  width: 1150px;
  background-image: url("../../assets/img/photos/p0.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 37px;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: vars.$xl) {
    height: 605px;
    width: 970px;
  }

  @media (max-width: vars.$lg) {
    background: none;
    width: 90%;
    max-width: 700px;
    height: fit-content;
    padding-bottom: 40px;
    gap: 10px;
  }

  @media (max-width: vars.$sm) {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    white-space: nowrap;
    font-size: 41px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: vars.$xl) {
      font-size: 34px;
      line-height: 50px;
    }

    @media (max-width: vars.$xs) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .descriptionContent {
    width: 438px;
    font-size: 21px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 33px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: vars.$xl) {
      width: 390px;
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: vars.$lg) {
      width: 100%;
    }

    @media (max-width: vars.$xs) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .descriptionButtons {
    display: flex;
    gap: 50px;
    padding-top: 20px;

    @media (max-width: vars.$lg) {
      justify-content: center;
    }
  }
}

// ----------------------------------------
.textSectionContent {
  width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  padding: 35px 0;

  @media (max-width: vars.$xl) {
    width: 90%;
  }

  h2 {
    white-space: nowrap;
    font-size: 31px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: vars.$xl) {
      font-size: 24px;
      line-height: 34px;
    }

    @media (max-width: vars.$xs) {
      font-size: 18px;
      line-height: 29px;
    }
  }

  p {
    font-size: 21px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;

    @media (max-width: vars.$xl) {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: vars.$xs) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: vars.$lg) {
    flex-direction: column;
    gap: 26px;
  }
}

.subSection {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: vars.$lg) {
    gap: 25px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    width: 155px;
    text-align: left;

    @media (max-width: vars.$xl) {
      font-size: 16px;
      line-height: 26px;
    }

    @media (max-width: vars.$lg) {
      line-height: 24px;
    }

    @media (max-width: vars.$xs) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.gifContainer {
  width: 115px;
  height: 115px;
  min-width: 115px;
  min-height: 115px;

  @media (max-width: vars.$lg) {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
  }

  @media (max-width: vars.$xs) {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  align-items: center;

  @media (max-width: vars.$xl) {
    font-size: 17px;
    line-height: 27px;
  }

  @media (max-width: vars.$xs) {
    font-size: 16px;
    line-height: 26px;
  }

  strong {
    text-align: center;
  }

  i {
    text-align: center;
  }
}
