@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.textSectionContent {
  width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  padding: 35px 0;

  @media (max-width: vars.$xl) {
    width: 90%;
  }

  h2 {
    white-space: nowrap;
    font-size: 31px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: vars.$xl) {
      font-size: 24px;
      line-height: 34px;
    }

    @media (max-width: vars.$xs) {
      font-size: 18px;
      line-height: 29px;
    }
  }

  p {
    font-size: 21px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;

    @media (max-width: vars.$xl) {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: vars.$xs) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: vars.$lg) {
    flex-direction: column;
    gap: 26px;
  }
}

.subSection {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: vars.$lg) {
    gap: 25px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    width: 155px;
    text-align: left;

    @media (max-width: vars.$xl) {
      font-size: 16px;
      line-height: 26px;
    }

    @media (max-width: vars.$lg) {
      line-height: 24px;
    }

    @media (max-width: vars.$xs) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.gifContainer {
  width: 115px;
  height: 115px;
  min-width: 115px;
  min-height: 115px;

  @media (max-width: vars.$lg) {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
  }

  @media (max-width: vars.$xs) {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  align-items: center;

  @media (max-width: vars.$xl) {
    font-size: 17px;
    line-height: 27px;
  }

  @media (max-width: vars.$xs) {
    font-size: 16px;
    line-height: 26px;
  }

  strong {
    text-align: center;
  }

  i {
    text-align: center;
  }
}
