@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.AboutDetails {
  display: flex;
  justify-content: center;
  padding: 70px 40px;
}

.aboutDetailsContent {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutDetailsHeader {
  text-align: center;
  text-transform: uppercase;
  font-size: 41px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.dmitry {
  display: flex;

  @media (max-width: vars.$lg) {
    flex-direction: column;
    align-items: center;
  }
}

.dmitryPhotoContainer {
  flex-grow: 1;
  display: flex;
}

.dmitryPhoto {
  max-width: 445px;
  width: 100%;

  @media (max-width: vars.$xl) {
    max-width: 415px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.dmitryDescription {
  width: 493px;
  height: fit-content;
  padding: 30px;
  background-color: var(--background-invert);
  color: var(--primary-text-color-invert);
  flex-shrink: 0;
  border-radius: 28px;
  margin-top: 40px;

  @media (max-width: vars.$xl) {
    width: 450px;
  }

  @media (max-width: vars.$lg) {
    margin-top: 0;
  }

  @media (max-width: vars.$sm) {
    width: unset;
  }

  h3 {
    font-size: 30px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: vars.$xl) {
      font-size: 24px;
      line-height: 34px;
    }

    @media (max-width: vars.$xs) {
      font-size: 18px;
      line-height: 29px;
    }
  }

  ul {
    margin-left: 20px;

    li {
      font-size: 21px;
      line-height: 30px;
      font-weight: 600;
      list-style: disc;

      @media (max-width: vars.$xl) {
        font-size: 18px;
        line-height: 28px;
      }

      @media (max-width: vars.$xs) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.lily {
  display: flex;
  margin-top: -54px;

  @media (max-width: vars.$lg) {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

.lilyPhotoContainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  @media (max-width: vars.$lg) {
    order: -1;
  }
}

.lilyPhoto {
  max-width: 379px;
  width: 100%;

  @media (max-width: vars.$xl) {
    max-width: 350px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lilyDescription {
  width: 493px;
  height: fit-content;
  padding: 30px;
  background-color: var(--background-invert);
  color: var(--primary-text-color-invert);
  flex-shrink: 0;
  border-radius: 28px;
  margin-top: 54px;

  @media (max-width: vars.$xl) {
    width: 450px;
  }

  @media (max-width: vars.$lg) {
    margin-top: 0;
  }

  @media (max-width: vars.$sm) {
    width: unset;
  }

  h3 {
    font-size: 30px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: vars.$xl) {
      font-size: 24px;
      line-height: 34px;
    }

    @media (max-width: vars.$xs) {
      font-size: 18px;
      line-height: 29px;
    }
  }

  ul {
    margin-left: 20px;
    li {
      font-size: 21px;
      line-height: 30px;
      font-weight: 600;
      list-style: disc;

      @media (max-width: vars.$xl) {
        font-size: 18px;
        line-height: 28px;
      }

      @media (max-width: vars.$xs) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.together {
  display: flex;
  margin-top: -62px;

  @media (max-width: vars.$lg) {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

.togetherPhotoContainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.togetherPhoto {
  max-width: 592px;
  width: 100%;

  @media (max-width: vars.$xl) {
    max-width: 415px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.togetherDescription {
  width: 493px;
  height: fit-content;
  padding: 30px;
  background-color: var(--background-invert);
  color: var(--primary-text-color-invert);
  flex-shrink: 0;
  border-radius: 28px;
  margin-top: 60px;

  @media (max-width: vars.$xl) {
    width: 500px;
  }

  @media (max-width: vars.$lg) {
    margin-top: 0;
  }

  @media (max-width: vars.$sm) {
    width: unset;
  }

  h3 {
    font-size: 30px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: vars.$xl) {
      font-size: 24px;
      line-height: 34px;
    }

    @media (max-width: vars.$xs) {
      font-size: 18px;
      line-height: 29px;
    }
  }

  ul {
    margin-left: 20px;

    li {
      font-size: 21px;
      line-height: 30px;
      font-weight: 600;
      list-style: disc;

      @media (max-width: vars.$xl) {
        font-size: 18px;
        line-height: 28px;
      }

      @media (max-width: vars.$xs) {
        font-size: 16px;
        line-height: 26px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
