.About {
  height: 550px;
  width: 1150px;
  margin: 0 auto;
  background-image: url("../../assets/img/photos/p1.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  justify-content: start;
}

.aboutContent {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;

  h2 {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 31px;
    line-height: 48px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    text-align: center;
  }
}
