@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.AboutParallaxSection {
  height: 550px;
  max-width: 1040px;
  width: 90%;
  margin: 0 auto;
  background-image: url("../../assets/img/photos/p2.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  justify-content: end;

  @media (max-width: vars.$lg) {
    height: 500px;
    background: none;
    max-width: unset;
    justify-content: center;
    height: 450px;
  }

  @media (max-width: vars.$xs) {
    height: unset;
  }
}

.aboutContent {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;

  @media (max-width: vars.$xl) {
    width: 500px;
    padding: 45px 0;
  }

  @media (max-width: vars.$xs) {
    padding: 30px 0;
  }

  h2 {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 31px;
    line-height: 48px;
    font-weight: 700;

    @media (max-width: vars.$xl) {
      font-size: 24px;
      line-height: 34px;
    }

    @media (max-width: vars.$xs) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    text-align: center;

    @media (max-width: vars.$xl) {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: vars.$xs) {
      font-size: 17px;
      line-height: 27px;
      margin-bottom: 20px;
    }
  }
}
