@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.swiper-container {
  position: relative;
  width: 860px;
  height: 550px;
  margin: 0 auto;

  @media (max-width: vars.$xl) {
    width: 100%;
  }

  @media (max-width: vars.$sm) {
    height: 400px;
  }

  @media (max-width: vars.$xs) {
    height: 350px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.swiper-slide.swiper-photo-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: rgb(199, 199, 199);
  border-radius: 50%;
  color: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;

  @media (max-width: vars.$xl) {
    display: none;
  }

  &:hover {
    filter: brightness(0.8);
  }
}

.swiper-button-prev {
  left: -60px;

  svg {
    transform: rotate(180deg);
  }
}

.swiper-button-next {
  right: -60px;
}

.swiper-pagination {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgb(184, 184, 184);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  background: black;
}
