@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.LessonsBackgroundSection {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: vars.$xl) {
    margin-top: 30px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 490px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-size: 31px;
  line-height: 48px;
  font-weight: 700;

  @media (max-width: vars.$xl) {
    font-size: 24px;
    line-height: 34px;
  }

  @media (max-width: vars.$xs) {
    font-size: 20px;
    line-height: 30px;
  }
}

.price,
.bonus {
  font-size: 21px;
  line-height: 33px;
  font-weight: 600;
  text-align: center;

  @media (max-width: vars.$xl) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: vars.$xs) {
    font-size: 17px;
    line-height: 27px;
  }
}

.payment {
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  text-align: center;

  @media (max-width: vars.$xl) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: vars.$xs) {
    font-size: 17px;
    line-height: 27px;
  }
}

.header,
.price,
.payment {
  margin-bottom: 30px;

  @media (max-width: vars.$xl) {
    margin-bottom: 18px;
  }
}
