@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.Header {
  background-color: var(--header-background);
  height: var(--header-height);
  width: 100%;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  border-bottom: 2px solid red;
}

.logoContainer {
  width: 362px;

  img {
    width: 100%;
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  nav ul {
    display: flex;
    gap: 56px;
  }
}

.contactsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;

  li {
    font-size: 20px;
    font-family: "Arial", Arial, sans-serif;
    font-weight: 400;
    cursor: default;
  }

  ul {
    display: flex;
    gap: 32px;
  }
}
.decoration {
  width: 100%;
  height: 110px;
  background-color: var(--header-background);
  background-image: url("../../assets/img/icons/light.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left top;

  @media (max-width: vars.$lg) {
    height: 90px;
  }

  @media (max-width: vars.$sm) {
    height: 60px;
  }

  @media (max-width: vars.$xs) {
    height: 30px;
  }
}
