@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.mockHeader {
  height: 0;

  @media (max-width: vars.$lg) {
    height: 60px;
  }

  @media (max-width: vars.$sm) {
    height: 50px;
  }

  @media (max-width: vars.$xs) {
    height: 40px;
  }
}

.decorationWrapper {
  background-color: var(--background);
}

.decoration {
  width: 100%;
  max-width: 1844px;
  margin: 0 auto;
  height: 110px;
  background-image: url("../../assets/img/icons/light.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left top;

  @media (max-width: vars.$lg) {
    height: 90px;
  }

  @media (max-width: vars.$sm) {
    height: 60px;
  }

  @media (max-width: vars.$xs) {
    height: 30px;
  }
}
