@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.Footer {
  background-color: var(--background);
  height: var(--header-height);
  width: 100%;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  @media (max-width: vars.$lg) {
    display: none;
  }
}

.logoContainer {
  width: 362px;
  margin-left: 36px;

  img {
    width: 100%;
  }

  @media (max-width: vars.$xl) {
    width: 270px;
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 790px;
  margin-right: 36px;

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: vars.$xl) {
    width: 600px;
  }
}
