@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.Button {
  background-color: var(--background-invert);
  color: var(--primary-text-color-invert);
  text-transform: uppercase;
  border: 2px solid var(--background-invert);
  cursor: pointer;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;

  @media (max-width: vars.$xl) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: vars.$xs) {
    font-size: 18px;
    line-height: 28px;
  }
}

.Button:hover {
  color: var(--primary-text-color);
  background-color: var(--background);
}
