@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.ExpandedSticker {
  border: 3px solid black;
  background-color: var(--background);
  color: var(--primary-text-color);
  border-radius: 23px;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.inverted {
  background-color: var(--background-invert);
  color: var(--primary-text-color-invert);
}

.toggle {
  font-size: 84px;

  @media (max-width: vars.$xl) {
    font-size: 60px;
  }

  @media (max-width: vars.$xs) {
    font-size: 32px;
  }
}

.header {
  padding: 13px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  line-height: 39px;
  font-weight: 600;

  &:hover {
    filter: brightness(0.9);
  }

  @media (max-width: vars.$xl) {
    font-size: 21px;
    line-height: 30px;
    padding: 12px 26px;
  }

  @media (max-width: vars.$xs) {
    font-size: 15px;
    line-height: 24px;
    padding: 10px 20px;
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: vars.$xl) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: vars.$xs) {
    font-size: 14px;
    line-height: 22px;
  }
}

.content.expanded {
  max-height: 2000px;
}

.contentWrapper {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;

  @media (max-width: vars.$xl) {
    margin-left: 26px;
    margin-right: 26px;
  }

  @media (max-width: vars.$xs) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.description {
  p {
    margin-bottom: 4px;
  }
}

.points {
  ul {
    margin-left: 20px;

    @media (max-width: vars.$xl) {
      margin-left: 18px;
    }

    @media (max-width: vars.$xs) {
      margin-left: 16px;
    }
  }
  li {
    list-style: disc;
  }
}
