@use "../../app/styles/vars/breakpoints-vars.scss" as vars;

.Contacts {
  background-color: var(--background);
  color: var(--primary-text-color);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.contactsWrapper {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 41px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: vars.$xl) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (max-width: vars.$xs) {
    font-size: 26px;
    line-height: 36px;
  }
}

.name,
.address,
.phone,
.reqs {
  font-size: 21px;
  line-height: 35px;
  font-weight: 400;

  @media (max-width: vars.$xl) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: vars.$xs) {
    font-size: 16px;
    line-height: 26px;
  }
}

.messangers {
  margin-top: 30px;
  margin-bottom: 30px;

  ul {
    display: flex;
    gap: 40px;
  }
}

.map {
  width: 613px;
  height: 319px;

  img {
    width: 100%;
    height: 100%;
  }
}
