.Bullets {
  display: flex;
  justify-content: center;
}

.bullet {
  width: 23px;
  height: 23px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: rgb(184, 184, 184);
    transition: background-color 0.2s ease;
  }

  .active {
    background-color: #222;
  }
}
