.Slider {
  width: 980px;
  margin: 0 auto;
  padding: 30px 0;
}

.title {
  text-align: center;
  font-size: 35px;
  line-height: 54px;
  font-weight: 700;
}

.description {
  text-align: center;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
}

.sliderImg {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 20px;
}

.photoContainer {
  position: relative;
  height: 550px;
  width: 860px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.rotate {
  transform: rotate(180deg);
}

.navButton {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    filter: brightness(0.8);
  }
}
